.PanelHeader {
  text-align: center;
}

.catalog-item {
  width: calc(100%);
  margin: auto;
  justify-content: stretch;
  align-items: center;
  display: flex;
  box-sizing: border-box;
  padding: 16px;
  background-color: #fff;
  text-decoration: none;
  font: inherit;
  border-radius: 8px;
  margin-bottom: 8px;
  color: inherit;

  .Avatar__img {
    object-fit: cover;
  }

  &:last-child {
    margin-bottom: 48px;
  }

  &__wrap {
    flex-shrink: 1;
    margin-right: 1rem;
    padding-right: 1rem;
    border-right: 1px solid var(--separator_common);
  }

  &__value {
    flex-grow: 3;
    justify-self: stretch;
    align-self: self-start;
    white-space: nowrap;

    &__value {
      font-size: 1.5rem;
      font-weight: 300;
    }

    &__label {
      color: #818C99;
      font-weight: 300;
    }
  }

  &__chance {
    flex-shrink: 1;
  }

  &__avatar {
    max-width: 64px;
  }

  &__value {
    white-space: nowrap;
  }
}
