.PanelHeader {
  text-align: center;
}

.selection-loading {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  min-height: 50vh;
  justify-content: center;
  align-items: center;
  background-color: white !important;
  color: var(--text_primary);

  &__service {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
      height: 48px;
    }
  }

  &__progress {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
